<p>
    <small>
        The presenters are just a bunch of guys and girls who are passionate about music and we enjoy sharing it with you.
        If you can, please feel free to help us by simply clicking on the donate button and contributing an amount towards our monthly expenditure so that we can continue to bring you great music every day without any interruptions: 

    </small>
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="mt-2">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="QEP5782AT54R6" />
    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
</form> 
<p>    
THANK YOU SO MUCH.
</p>