<div class="container small" style="color: white;">
  <div class="row text-center" style="padding: 0;">
    <div class="col">
      <i class="far fa-copyright"></i>&nbsp;2019 - {{today | date:'yyyy'}}<span class="year"></span>&nbsp;One Stop Kenya
    </div>
  </div>
</div>
<!-- <hr class="my-4"> -->
<!-- <div class="container" style="background: whitesmoke;">
  <div class="row">
    <div class="col mt-2">
      <img src="../assets/images/footerLogo.png" class="img-fluid" alt="...">                
    </div>
    <div class="col small mt-2">
      <h3 class="card-title">One Stop Kenya</h3>
      <h4 class="text-muted">
        <marquee> We strive to play all the latest sounds from the mother land +254. Coming soon, tourism, car hire and entertainment listings ...  </marquee>
      </h4>
      <h5>
      <div class="row mt-2">
          <div class="col">
            <a href="https://api.whatsapp.com/send?phone=447935491001">
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
          <div class="col">
            <a href="http://www.facebook.com/onestopradiokenya" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
          <div class="col">
            <a href="http://www.twitter.com/1skRadio" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="col">
            <a href="http://www.instagram.com/onestopradiokenya">
              <i class="fab fa-instagram"></i>
            </a>
          </div>      
      </div>
      </h5>
    </div>
    <div class="col mt-2">
      <u>Adverts</u>
      <hr class="my-4">
      <a href="http://www.blockl93.com">
        <p class="m-2">
          <img src="http://www.blockl93.com/assets/img/logo-trans.png" style="width: 5em;" class="img-fluid" alt="">
        </p>
        <p class="small" style="color: blue;">
          Connecting businesses, farmer and investors 
        </p>
      </a>
      <hr class="my-4">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center m-2">
      <i class="far fa-copyright"></i>&nbsp;2019 - {{today | date:'yyyy'}}<span class="year"></span>&nbsp;One Stop Kenya
    </div>
  </div>
</div> -->
