<!-- <hr class="my-4"> -->
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="../assets/images/footerLogo.png" class="card-img mt-4 img-fluid" alt="...">                
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card-body">
              <h1 class="card-title">One Stop Kenya</h1>
              <h4 class="text-muted">
                <marquee> We strive to play all the latest sounds from the mother land +254. Coming soon, tourism, car hire and entertainment listings ...  </marquee>
              </h4>
              <h1 class="card-title">Contact Us</h1>
              <a href="https://api.whatsapp.com/send?phone=447935491001">
                <h4 class="whatsapp"><i class="fab fa-whatsapp"></i>&nbsp;Whatsapp: +44 7935491...</h4>
              </a>
              <p class="card-text"><small class="text-muted">
                <i class="far fa-copyright"></i>&nbsp;2019 - {{today | date:'yyyy'}}<span class="year"></span>&nbsp;One Stop Kenya
              </small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 mt-4">
            <u>Adverts</u>
            <hr class="my-4">
            <a href="http://www.blockl93.com">
              <p class="m-2">
                <img src="http://www.blockl93.com/assets/img/logo-trans.png" style="width: 5em;" class="img-fluid" alt="">
              </p>
              <p class="small" style="color: blue;">
                Connecting businesses, farmer and investors 
              </p>
            </a>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
