<div class="manageContent">
  <!-- <h4>Song Request</h4>
  <form class="cc_request_form small" data-username="kingsolo50">
    <div data-type="result"></div>
    Song artist: <input class="form-control" type="text"  name="request[artist]" size="40" maxlength="127" /><br />
    Song title: <input class="form-control" type="text"  name="request[title]" size="40" maxlength="127" /><br />
    Dedicated to: <input class="form-control" type="text"  name="request[dedication]" size="40" maxlength="127" /><br />
    Your name: <input class="form-control" type="text"  name="request[sender]" size="40" maxlength="127" /><br />
    Your E-mail: <input class="form-control" type="text"  name="request[email]" size="40" maxlength="127" /><br />
    <input class="mt-1 btn btn-success btn-sm" type="button" value="Submit song request" data-type="submit" /><br />
  </form> -->
 
        
        <!-- <h1 class="btn btn-sm btn-outline-primary" (click)="playSound();">>></h1> -->
        <!-- WOULD LIKE TO SOURCE THE ARTIST NOW PLAYING IMAGE HERE !! -->
        <!-- ALBUM ART HERE, BELOW CODE DOESN'T SOURCE IMAGE -->
        <!-- Album image:<br /><img class="cc_streaminfo" data-type="trackimageurl" data-username="kingsolo50" /><br /><a href="#" class="cc_streaminfo" data-type="trackbuyurl" data-username="kingsolo50">Buy this album</a><br /> -->
        <!-- AUDIO PLAYER -->
        <!-- <audio id="streamSource" style="width: 100%; height: 1.5em;" controls="controls" autoplay="true" class="mt-3 audioPlayer animated pulse">
          <source src="http://nebula.shoutca.st:8602/; " type="audio/ogg" />
          <source src="http://nebula.shoutca.st:8602/; " type="audio/mp3" />          
          <p>
            'Your browser does not support the audio element.'
            <a href="http://tunein.com/radio/One-Stop-Radio-Kenya-s280787/">Click here to listen open player</a>
          </p>              
        </audio> -->
        <!-- <div class="cc_player" data-username="kingsolo50">Loading ...</div> -->
        <!-- RADIO STREAMS -->
        <div id="cc_tunein">
          <small class="text-muted">Alternative Players:</small>
          <a href="https://nebula.shoutca.st/tunein/kingsolo50.pls"><img align="absmiddle" src="https://nebula.shoutca.st/system/images/tunein-pls.png" border="0" alt="Winamp, iTunes" title="Winamp, iTunes" /></a>
          <a href="https://nebula.shoutca.st/tunein/kingsolo50.asx"><img align="absmiddle" src="https://nebula.shoutca.st/system/images/tunein-asx.png" border="0" alt="Windows Media Player" title="Windows Media Player" /></a>
          <a href="https://nebula.shoutca.st/tunein/kingsolo50.ram"><img align="absmiddle" src="https://nebula.shoutca.st/system/images/tunein-ram.png" border="0" alt="Real Player" title="Real Player" /></a>
          <a href="https://nebula.shoutca.st/tunein/kingsolo50.qtl"><img align="absmiddle" src="https://nebula.shoutca.st/system/images/tunein-qtl.png" border="0" alt="QuickTime" title="QuickTime" /></a>
        </div>      
        <hr class="my-4">
        <h5 class="moveUp">Recent tracks</h5>
        <div class="cc_recenttracks_list small" data-username="kingsolo50">Loading ...</div>
        <div class="row mt-2">
          <div class="col-2">
            <a href="https://api.whatsapp.com/send?phone=447935491001">
              <i class="fab fa-whatsapp" style="color: green;"></i>
            </a>
          </div>
          <div class="col-2">
            <a href="http://www.facebook.com/onestopradiokenya" target="_blank">
              <i class="fab fa-facebook-f" style="color: blue;"></i>
            </a>
          </div>
          <div class="col-2">
            <a href="https://twitter.com/1skRadio?ref_src=twsrc%5Etfw" target="_blank">
              <i class="fab fa-twitter" style="color: lightskyblue;"></i>
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-2">
            <a href="http://www.instagram.com/onestopradiokenya">
              <i class="fab fa-instagram" style="color: magenta;"></i>
            </a>
          </div>      
        </div>
</div>