<h4>Song Request</h4>
<form class="cc_request_form small" data-username="kingsolo50">
  <div data-type="result"></div>
  Song artist: <input class="form-control" type="text"  name="request[artist]" size="40" maxlength="127" /><br />
  Song title: <input class="form-control" type="text"  name="request[title]" size="40" maxlength="127" /><br />
  Dedicated to: <input class="form-control" type="text"  name="request[dedication]" size="40" maxlength="127" /><br />
  Your name: <input class="form-control" type="text"  name="request[sender]" size="40" maxlength="127" /><br />
  Your E-mail: <input class="form-control" type="text"  name="request[email]" size="40" maxlength="127" /><br />
  <input class="mt-1 btn btn-success btn-sm" type="button" value="Submit song request" data-type="submit" /><br />
</form>
<div class="row mt-4">
  <div class="col">
    <a href="https://api.whatsapp.com/send?phone=447935491001">
      <i class="fab fa-whatsapp" style="color: green;"></i>
    </a>
  </div>
  <div class="col">
    <a href="http://www.facebook.com/onestopradiokenya" target="_blank">
      <i class="fab fa-facebook-f" style="color: blue;"></i>
    </a>
  </div>
  <div class="col">
    <a href="https://twitter.com/1skRadio?ref_src=twsrc%5Etfw" target="_blank">
      <i class="fab fa-twitter" style="color: lightskyblue;"></i>
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col">
    <a href="http://www.instagram.com/onestopradiokenya">
      <i class="fab fa-instagram" style="color: magenta;"></i>
    </a>
  </div>      
</div>