<div class="container">
  <div class="row">
    <div class="col">
      <!-- Brand as a heading -->
      <nav class="navbar navbar-light" style="padding: 0;">
        <span class="navbar-brand mb-0 h1 text-center"><img src="../../assets/images/logo_v9.jpg" class="img-fluid" alt=""></span>        
      </nav>
    </div>
    <div class="col small">
      <a href="http://www.blockl93.com">
        <p class="mt-3 p-1" style="background-color: #333; width: 30em;">
          <span style="color: white; cursor: none; text-decoration: none;">Sponsors:</span>
          <img src="http://www.blockl93.com/assets/img/logo-trans.png" style="width: 5em;" class="img-fluid" alt="">
          <!-- <small>&nbsp;Connecting businesses, farmer and investors </small> -->
        </p>    
      </a>
    </div>
  </div>
</div>